@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra_Trial_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra_Trial_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Effra", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Effra", sans-serif;
  font-weight: 400;
}

* {
  scroll-behavior: smooth;
}

/* Loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #348841;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}